{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if car %}{{ car.brand }} {{ car.model }}{% else %}Тест-драйв BMW{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'carsale_app/css/stylesModelPage.css' %}">
{% endblock %}

{% block content %}
<!-- Основне відображення автомобіля та основних характеристик -->
<article>
    <div class="modelCar">
        {% if car %}
            <h1 id="modelName">{{ car.brand }} {{ car.model }}</h1> 
            <h2 id="modelPrice"><span>від</span> {{ car.price }}$</h2> 
        {% else %}
            <h1 id="modelName">Тест-драйв</h1> 
            <h2 id="modelPrice">BMW</h2> 
        {% endif %}
    </div>
    {% if car %}
    <div class="imgInfo">
        <img id="modelImage" src="{% static 'carsale_app/img/Models/'|add:car.model|add:'.png' %}" alt="{{ car.model }}"> 

        <div class="detailInfo">
            <ul id="modelDetails">
                <li>Потужність (к/с): {{ car.power }}</li>
                <li>Макс. швидкість: {{ car.max_speed }} км/год</li>
                <li>Прискорення: {{ car.acceleration }} с</li>
                <li>Запас ходу: {{ car.range_km }} км</li>
                <li>{{ car.description|truncatewords:30 }}</li>
            </ul>
        </div>
    </div>
            
    {% else %}
        <div class = "notSelectArticle">
            <img id="modelImage" src="{% static 'carsale_app/img/General/testDrivePage/articleImg.jpg' %}" alt="BMW"> 
        </div>
    {% endif %}
    </div>
    <div class="buttons">
        <a href="#testDrive">Тест-Драйв</a>
        {% if car %}
            <a href="#techInfo">Тех. харак.</a>
            <a href="#sales">Пропозиції</a>
        {% endif %}
    </div>
</article>

<!-- Текст для заповнення вільного простору -->
<section class="generalInfo">
    <img src="{% static 'carsale_app/img/General/testDrivePage/text1.jpg' %}" alt="BMW">
    <div class="text">
        {% if car %}
            <h2>Лінійка BMW {{ car.series }}</h2>
            <p>Ознайомтесь із модельним рядом BMW, який поєднує динаміку, потужність та німецьку інженерну точність.</p>
        {% else %}
            <h2>Лінійка BMW</h2>
            <p>Ознайомтесь із модельним рядом BMW, який поєднує динаміку, потужність та німецьку інженерну точність.</p>
        {% endif %}
    </div>
</section>

<!-- Блок з тест-драйвом -->
<section class="testDrive" id="testDrive">
    <div class="headerTestDrive">
        <h2>Хочете спробувати BMW?</h2>
        <h3>Тест-Драйв</h3>
    </div>
    <div class="infoTestDrive">
        <div class="conditions">
            <p>Для того, щоб скористатися послугою Тест-Драйву від BMW - оберіть бажаний автомобіль. Особа, що буде керувати на Тест-Драйві, обов‘язково має мати водійське посвідчення.</p>
            <p><span>*Важливо</span>, записатися на Тест-Драйв може, лише особа, яка володіє правами більше ніж 2 роки.</p>
        </div>
        <div>
            <form method="post" id="testDriveForm" class = "choice">
                {% csrf_token %}
                <ul class="generalList">
                    <li>
                        1. Оберіть бажаний автомобіль.
                        {{ form.car }}
                    </li>
                    <li>
                        2. Оберіть дату та час.
                        <div class="inputInfoContainer">
                            {{ form.preferred_date }}
                            {{ form.preferred_time }}
                        </div>
                    </li>
                    <li>
                        3. Введіть контактні дані.
                        <div class="inputInfoContainer">
                            {{ form.customer_name }}
                            {{ form.customer_email }}
                        </div>
                    </li>
                </ul>
                <button type="submit" id="buttonSave">Зберегти</button>
            </form>
        </div>
        <div class="submitButton" id="submitScreen">
            <div class="content">
                <p>Успішно збережено!</p>
                <button id="buttonOK">ok</button>
            </div>
        </div>
    </div>
</section>

<!-- Блок з розгорнутими технічними характеристиками -->
{% if car %}
<section class="techInfo" id="techInfo">
    <h3>Технічні Характеристики</h3>
    <div class="techChoice">
        <img src="{% static 'carsale_app/img/General/testDrivePage/techImg.png' %}" alt="BMW" id="techImg">
        <ul>
            <li>
                <details>
                    <summary>Запас ходу</summary>
                    <ul>
                        <li>Запас ходу: {{ car.range_km }} км</li>
                    </ul>
                </details>
            </li>
            <li>
                <details>
                    <summary>Двигун</summary>
                    <ul>
                        <li>Потужність (к/с): {{ car.power }}</li>
                        <li>Макс. швидкість: {{ car.max_speed }} км/год</li>
                        <li>Прискорення: {{ car.acceleration }} с</li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</section>
{% endif %}

<section class = "sales" id = "sales">
    <h3>Пропозиції</h3>

    <div class = "optionSales">
        <img src = "{% static 'carsale_app/img/General/testDrivePage/gift.png'%}" alt = giftImg>
        <p>
            Відчуйте справжнє задоволення від кермування разом із BMW! Придбати будь-яку модель BMW тепер ще вигідніше — ми даруємо знижку 5% для нових власників. Це чудова можливість стати частиною легендарного бренду, що втілює динаміку, інновації та елегантність. Пропозиція діє протягом обмеженого часу, тож не відкладайте. Обирайте свою ідеальну модель BMW вже сьогодні та вирушайте назустріч новим враженням!
        </p>
        <img src = "{% static 'carsale_app/img/General/testDrivePage/gift.png'%}">
    </div>

    <div class = "price">
        <img src = "{% static 'carsale_app/img/General/testDrivePage/bmwPreview1.png'%}" alt = "PorscheImg" id = "imageModel">
        <p>
            Вартість конкретної моделі<br>:(без врахування знижки)<br><span id = "priceModel" class = "priceModel">від 100.000</span>
        </p>
    </div>
</section>


<!-- Текст для заповнення вільного простору -->
<section class="generalInfo">
    <img src="{% static 'carsale_app/img/General/testDrivePage/text2.jpg'%}" alt="BMW">
    <div class="text">
        <h2>Твій BMW</h2>
        <p>Вам доступний конфігуратор, завдяки якому Ви можете створити BMW своєї мрії. Проявіть креативність, та створіть автомобіль мрії.</p>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'carsale_app/js/scriptModelPage.js' %}"></script>
{% endblock %}