{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade-In BMW</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <!-- Виправлено шлях до CSS -->
    <link rel="stylesheet" href="{% static 'carsale_app/css/stylesTradeIn.css' %}">
</head>
<body>
    <!-- Header -->
    <header id="header">
        <!-- Виправлено посилання на головну сторінку -->
        <a href="{% url 'index' %}" class="logo">
            <!-- Виправлено шлях до зображення -->
            <img src="{% static 'carsale_app/img/General/MainLogo.png' %}" alt="Bmw Logo" class="main-ico">
        </a>
        <nav>
            <ul class="nav-list">
                <!-- Меню моделей -->
                <li>
                    <a href="#" class="navButton" id="buttonModels">Моделі</a>
                </li>
                <ul class="subMenu">
                    <li>
                        <!-- Виправлено посилання -->
                        <a href="{% url 'models' %}?model=taycan">
                            <p>M-Series</p>
                            <!-- Виправлено шлях до зображення -->
                            <img src="{% static 'carsale_app/img/Menu/MSeries.png' %}" alt="M-Series">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'models' %}?model=porsche911">
                            <p>X-Series</p>
                            <img src="{% static 'carsale_app/img/Menu/XSeries.jpg' %}" alt="X-Series">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'models' %}?model=cayenne">
                            <p>3-Series</p>
                            <img src="{% static 'carsale_app/img/Menu/3Series.jpg' %}" alt="3-Series">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'models' %}?model=macan">
                            <p>5-Series</p>
                            <img src="{% static 'carsale_app/img/Menu/5Series.jpg' %}" alt="5-Series">
                        </a>
                    </li>
                </ul>

                <!-- Меню контактів з кнопкою -->
                <li>
                    <!-- Виправлено посилання -->
                    <a href="{% url 'contacts_page' %}" class="navButton" id="buttonContacts">Контакти</a>
                </li>
                <ul class="contactsMenu">
                    <li>
                        <h2>Наші контакти</h2>
                        <address>
                            <dl>
                                <dt>моб. телефон:</dt>
                                <dd><a href="tel:+12345">+12345</a></dd>
                                <dt>е-пошта:</dt>
                                <dd><a href="mailto:porsche@test.ua">bmwmain@test.ua</a></dd>
                            </dl>
                        </address>
                    </li>
                    <li>
                        <h2>Адреса автосалону</h2>
                        <address>
                            <dl>
                                <dt>місто:</dt>
                                <dd>м. Київ</dd>
                                <dt>бульвар:</dt>
                                <dd>Вацлава Гавела 4</dd>
                            </dl>
                        </address>
                    </li>
                    <!-- Виправлено шлях до зображення -->
                    <img src="{% static 'carsale_app/img/General/FooterImg.png' %}" alt="porscheImg">
                </ul>

                <!-- Сервісне меню (test-drive, trade-in) + кнопка -->
                <li>
                    <!-- Виправлено посилання -->
                    <a href="{% url 'service_page' %}" class="navButton" id="buttonServices">Сервіси</a>
                </li>
                <ul class="servicesMenu">
                    <li>
                        <a href="{% url 'service_page' %}">Сервісне обслуговування</a>
                    </li>
                    <li>
                        <a href="{% url 'model_page' %}#testDrive">Test-Drive в автосалонах Porsche</a>
                    </li>
                    <li>
                        <a href="{% url 'trade_in_page' %}">Trade-In</a>
                    </li>
                </ul>
            </ul>
        </nav>
    </header>
    <!-- /Header -->

    <main>
        <article>
            <!-- Перший блок - вибір автомобіля, яке ПРОПОНУЄ користувач ("власне авто") -->
            <section class="stepBlock">
                <h1>Крок 1</h1>
                <div class="choiceCar">
                    <h2>Оберіть авто, що Ви пропонуєте<br>з доступного переліку:</h2>
                    <!-- Виправлено шлях до зображення -->
                    <img src="{% static 'carsale_app/img/General/informationLogo.png' %}" alt="informationLogo" id="informationLogo">
                    <div class="messageInfo" id="messageInfo">
                        <p>На даний момент, для послуги Trade-In<br>доступні лише моделі Porsche</p>
                    </div>
                    <!-- Список доступних марок автомобілів -->
                    <select id="selectedCar">
                        <option value="BMW">BMW</option>
                        <option value="Porsche">Porsche</option>
                        <option value="Ford">Ford</option>
                        <option value="Toyota">Toyota</option>
                        <option value="Volkswagen">Volkswagen</option>
                        <option value="Mercedes">Mercedes-Benz</option>
                        <option value="Renault">Renault</option>
                        <option value="Honda">Honda</option>
                        <option value="Hyundai">Hyundai</option>
                    </select>
                </div>
                <div class="price">
                    <h2>Приблизна ціна моделі:<br>~ <span id="priceValue">80 000</span>$</h2>
                    <p>*Фінальна ціна моделі буде<br>точно озвучена після оцінки</p>
                </div>
                <!-- Виправлено шлях до зображення -->
                <img src="{% static 'carsale_app/img/General/porscheTradeIn.png' %}" alt="porscheImg" id="carModelImg">
            </section>

            <!-- Другий блок - вибір автомобіля з доступних в авто-салоні -->
            <section class="stepBlock">
                <h1>Крок 2</h1>
                <div class="choiceCar">
                    <h2>Оберіть бажане авто для Trade-In<br>з доступного переліку:</h2>
                    <select id="selectedCarStep2">
                        <option value="M-Series">BMW M-Series</option>
                        <option value="X-Series">BMW X-Series</option>
                        <option value="5-Series">BMW 5-Series</option>
                        <option value="3-Series">BMW 3-Series</option>
                        <option value="I-Series">BMW I-Series</option>
                    </select>
                </div>
                <div class="price">
                    <h2>Приблизна доплата при Trade-In:<br>~ <span id="priceValueStep2">80 000</span>$</h2>
                    <p>*Фінальна ціна моделі буде<br>точно озвучена після оцінки</p>
                </div>
                <!-- Виправлено шлях до зображення -->
                <img src="{% static 'carsale_app/img/General/porscheTradeIn2.png' %}" alt="porscheImg" id="carModelImgStep2">
            </section>

            <!-- Третій блок - заповнення даних, після вибору. В подальшому, ці дані будуть зберігатися в адмін-панелі -->
            <section class="stepBlock">
                <h1>Крок 3</h1>
                <div class="choiceCar">
                    <p>Для фінальної оцінки Вашого авто<br>потрібно зв‘язатися з менеджером</p>
                    <h2>Заповніть заявку нижче</h2>
                    <ul>
                        <li>
                            <label>ім‘я</label>
                            <input type="text" id="nameInput">
                        </li>
                        <li>
                            <label>бажана дата</label>
                            <input type="date" id="dateInput">
                        </li>
                        <li>
                            <label>бажаний автосалон</label>
                            <select>
                                <option value="Kyiv">Київ</option>
                                <option value="Lviv">Львів</option>
                                <option value="Odesa">Одеса</option>
                                <option value="Kharkiv">Харків</option>
                            </select>
                        </li>
                        <li>
                            <label>бажаний час</label>
                            <input type="time" id="timeInput">
                        </li>
                    </ul>
                </div>
                <button type="submit" id="saveButton">Зберегти</button>
                <!-- Виправлено шлях до зображення -->
                <img src="{% static 'carsale_app/img/General/porscheTradeIn3.png' %}" alt="porscheImg">
            </section>

            <!-- Екран з повідомлення про успішне збереження, якщо все коректно введено -->
            <div class="successScreen" id="successScreen">
                <p>Дані успішно збережено!</p>
                <button id="buttonOK">ok</button>
            </div>
        </article>

        <!-- Текст для заповнення простору -->
        <section class="generalInfo">
            <!-- Виправлено шлях до зображення -->
            <img src="{% static 'carsale_app/img/General/PreFooter3.jpg' %}" alt="porscheImg">
            <div class="text">
                <h2>Trade-In</h2>
                <p>Програма Trade-In від BMW — це зручний спосіб оновити ваш автомобіль без зайвих турбот. Обміняйте свій старий автомобіль на нову модель BMW і отримайте вигідну пропозицію з оцінкою вашого транспортного засобу. Наші експерти забезпечать чесну та прозору оцінку, щоб ви могли безперешкодно перейти до свого нового BMW, насолоджуючись кожним моментом за кермом.</p>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <section class="menuButtons">
            <!-- Залишено #, бо це не сторінка -->
            <a href="#" class="footerButton">Всі моделі</a>
            <!-- Виправлено посилання -->
            <a href="{% url 'service_page' %}" class="footerButton">Сервіси</a>
            <a href="{% url 'model_page' %}#sales" class="footerButton">Новинки</a>
            <a href="{% url 'contacts_page' %}" class="footerButton">Контакти</a>
        </section>
        <!-- Виправлено шлях до зображення -->
        <img src="{% static 'carsale_app/img/General/FooterImg.png' %}" alt="footerImg" class="footerImg">
        <section class="menuButtons">
            <a href="{% url 'contacts_page' %}" class="footerButton">м. Київ</a>
            <a href="{% url 'contacts_page' %}" class="footerButton">бул. Вацлава Гавела 4</a>
            <p class="footerButton">Пн-Пт: 09:00 - 21:00</p>
            <p class="footerButton">Сб-Нд: 10:00 - 16:00</p>
        </section>
    </footer>
    <!-- /Footer -->

    <!-- Виправлено шлях до JS -->
    <script src="{% static 'carsale_app/js/scriptTradeIn.js' %}"></script>
</body>
</html>