@import url("headerStyles.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: #FBF8EF;
}

@media (max-width: 768px) {
    .no-scroll {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1009;
    }
}

/* header - nav */


/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12.5rem;
}

@media (max-width: 768px) {
    main {
        gap: 8rem;
    }
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    position: relative;
}

.articleTxt {
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-decoration: none;
}

@media (max-width: 768px) {
    .articleTxt {
        top: 1rem;
        left: 0.5rem;
    }
}

.articleTxt h1, 
.articleTxt h2 {
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    color: #FFFFFF; 
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
}

.articleTxt h2 {
    font-size: 1.75rem;
    font-weight: var(--font-weight-regular);
}

@media (max-width: 768px) {
    .articleTxt h1 {
        font-size: 1rem;
    }

    .articleTxt h2 {
        font-size: 0.8rem;
    }
}

.articleTxt h1:hover,
.articleTxt h2:hover {
    font-weight: 900;
    color: #FFF985;
}


.mainPhoto {
    width: 100%;        
    max-width: 100%;   
    height: 800px;  
    object-fit: cover;   
    display: block;
    transition: all 1s ease-in-out; 
}

@media (max-width: 768px) {
    .mainPhoto {
        width: 100%;
        height: 20rem;
    }
}

.ellipses {
    position: absolute; 
    display: flex;
    gap: 1.5rem;
    justify-content: center; 
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
}

@media (max-width: 768px) {
    .ellipses {
        transform: translateX(-50%) scale(0.5);
    }
}

.ellipseMain {
    width: 20px;         
    height: 20px;         
    border-radius: 50%;  
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;   
    transition: transform 0.3s ease, border 0.3s ease; 
}

.ellipseMain:hover {
    transform: scale(1.1); 
}

.ellipseMain.active {
    border: 2px solid #ff0000; 
}

/* blockquote */

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .text {
        padding: 0rem 2rem;
    }
}

.text.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.text p:first-of-type {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color);
}

.text p:nth-of-type(2) {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--font-color);
    text-align: center;
    max-width: 600px;
}

@media (max-width: 768px) {
    .text p:first-of-type {
        font-size: 0.8rem;
        text-align: center;
    }

    .text p:last-of-type {
        font-size: 0.5rem;
    }
}

/* cars */

.cars {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 2rem 0rem;
    overflow: hidden;
}

.cars img {
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    width: 50%;
    height: auto;
}

.cars img:hover {
    scale: 1.05;
}

/* car to left */

.carToLeft {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

@media (max-width: 768px) {
    .carToLeft {
        flex-direction: column;
        gap: 0rem;
    }
} 

.carToLeft img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50%;
}

@media (max-width: 768px) {
    .carToLeft img {
        object-fit: cover;
        width: 100%;
        height: 20rem;
        border-radius: 0px;
    }
}

.infoPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .infoPrice {
        order: 2;
        padding-left: 1rem;
        gap: 3rem;
    }

    .carToRight .infoPrice {
        padding-right: 1rem;
    }
}

.carInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 768px) {
    .carInfo {
        gap: 0rem;
    }
}

.carInfo a.headerOfCar {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: var(--font-color);
    transition: all 0.5s ease;
}

@media (max-width: 768px) {
    .carInfo a.headerOfCar {
        transform: translateY(-3rem);
        font-size: 1.5rem;
        color: #FBF8EF;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
}

.carInfo a.headerOfCar:hover {
    color: #4F4F4F;
}

.infoList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carInfo .infoList a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--font-color);
    transition: all 0.5s ease;
}

.infoList a:hover {
    color: #4F4F4F;
    font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
    .carInfo .infoList a {
        font-size: 0.8rem;
    }
}

.carPrice {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    user-select: none;
}

.carPrice h2, h3 {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: var(--font-color)
}

.carPrice h2 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
    .carPrice h2 {
        font-size: 1.5rem;
    }
}

/* car to right */

.carToRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2.5rem;
}

@media (max-width: 768px) {
    .carToRight{
        flex-direction: column;
        gap: 0rem;
    }
} 

.carToRight img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 50%;
}

@media (max-width: 768px) {
    .carToRight img {
        order: 1;
        object-fit: cover;
        width: 100%;
        height: 20rem;
        border-radius: 0px;
    }
}

.carToRight .infoButton,
.carToRight .carPrice h2, 
.carToRight .carPrice h3 {
    display: flex;
    justify-content: flex-end;
}


/* preFooter */

.preFooter {
    position: relative;
}

.preFooter img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .preFooter img {
        height: 20rem;
        object-fit: cover;
    }
}

.preFooter a {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    color: white;
    transition: all 0.3s ease;
}

.preFooter a:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

@media (max-width: 768px) {
    .preFooter a {
        font-size: 2rem;
        color: #FFFFFF;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    footer {
        padding: 2rem 2.5rem;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
    transition: all 0.8s ease;
}

@media (max-width: 768px) {
    footer img {
        transform: translateX(0rem);
    }
}

footer img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .menuButtons {
        gap: 1.5rem;
    }

    .menuButtons:nth-child(1),
    .menuButtons:nth-child(3) {
        align-items: center;
    }
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

@media (max-width: 768px) {
    .footerButton {
        font-size: 0.8rem;
    }
}









