/* header - nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px 10px;
}

@media (max-width: 768px) {
    header {
        justify-content: center;
        align-items: center;
        margin: 1rem 2rem 0rem;
    }

    header button {
        border: none; 
        z-index: 1011;
    }
}

@media (max-width: 768px) {
    .headerLogo {
        display: flex;
        justify-content: center;
        align-items: end;
        flex-grow: 1;
    }

    .headerLogo a {
        text-decoration: none;
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: var(--font-weight-bold);
        color: var(--font-color);
    }

    .headerLogo img {
        width: 30%;
        height: auto;
        transform: translateX(-0.5rem);
    }
}

header .logo {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    user-select: none;
}

.main-ico {
    width: 15%;
}

nav {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
}

@media (max-width: 768px) {
    nav {
        opacity: 0;
        position: fixed;
        justify-content: start;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100%;
        background-color: #FBF8EF;
        padding: 7rem 2rem;
        z-index: 1010;
        transition: all 0.3s ease;
    }

    nav.visible {
        display: flex;
        opacity: 1;
        left: 0;
    }

    nav.hidden {
        opacity: 0;
        position: fixed;
        top: 0;
        left: -100%;
    }
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }
}

.navButton {
    text-decoration: none;
    font-family: "Unbounded";
    font-size: 1rem;
    font-weight: 400;
    color: #4F4F4F;
    padding: 0.5rem;
    user-select: none;
    transition: all 0.3s ease;
    position: relative;
}

.navButton:hover {
    font-weight: 900;
    color: #2C2C2C;
}

.subMenu {
    position: absolute;
    top: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1000;
    display: none;
    opacity: 0;
    background-color: white;
    padding: 3.5rem 1.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.subMenu.visible {
    display: grid; 
    opacity: 1;
}

.subMenu.hidden {
    opacity: 0;
    display: none;
}

@media (max-width: 768px) {
    .subMenuPhone {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        list-style: none;
        margin-top: 3rem;
    }

    .subMenuPhone a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .subMenuPhone p {
        font-size: 0.5rem;
        font-weight: var(--font-weight-bold);
        color: #4F4F4F;
    }

    .subMenuPhone img {
        width: 100%;
        height: auto;
    }
}

.subMenu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.subMenu p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.subMenu li {
    list-style: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.subMenu li:hover {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.contactsMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: white;
    padding: 3.5rem 1.5rem 12.5rem 1.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.contactsMenu.visible {
    display: flex; 
    opacity: 1;
}

.contactsMenu.hidden {
    opacity: 0;
    display: none;
}

.contactsMenu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contactsMenu h2 {
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
}

.contactsMenu dt {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 0.5rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
    font-style: normal; 
}

.contactsMenu dd {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #686868;
    margin-bottom: 8px;
    font-style: normal; 
}

.contactsMenu dd a {
    text-decoration: none; 
    color: inherit;
    font-style: normal; 
}

.contactsMenu img {
    position: absolute;
    right: -3rem;
    bottom: -5rem;
    scale: 0.5;
    opacity: 0.5;
    filter: grayscale(100%);
    transform: scaleX(-1);
}

.servicesMenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    padding: 2rem 3rem;
    margin-top: 0.5rem;
    list-style: none;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.servicesMenu.visible {
    display: flex; 
    opacity: 1;
}

.servicesMenu.hidden {
    opacity: 0;
    display: none;
}

.servicesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.servicesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #D9D9D9;
    padding: 2rem 3rem 7rem 3rem;
    margin-top: 0.5rem;
    overflow: hidden;
    list-style: none;
    display: none;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.accessoriesMenu.visible {
    display: flex; 
    opacity: 1;
}

.accessoriesMenu.hidden {
    opacity: 0;
    display: none;
}

.accessoriesMenu a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.accessoriesMenu a:hover {
    font-weight: var(--font-weight-bold);
}

.accessoriesMenu img {
    position: absolute;
    top: 8rem;
    left: 8rem;
    opacity: 0.5;
}

.logIn {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    font-style: none;
    transform: scale(0.9);
    text-decoration: none;
    position: absolute;
    right: 10px;
}

@media (max-width: 768px) {
    .logIn {
        transform: scale(0.6);
        right: -3rem;
    }
}

.logIn img {
    opacity: 0.3;
}

.logIn p {
    font-family: var(--font-family);
    font-size: 0.7rem;
    font-weight: 300;
    color: var(--font-color);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
}