@import url("headerStyles.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #FBF8EF;
}

@media (max-width: 768px) {
    body {
        gap: 6rem;
    }

    .no-scroll {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1009;
    }
}

/* header - nav */

.nav-list > li:nth-of-type(3) > .navButton {
    font-weight: var(--font-weight-bold);
}

/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-bottom: 10rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    main {
        gap: 8rem;
    }
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.articleSection {
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

article .stepBlock:nth-child(3) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.stepBlock {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 3rem;
    width: 70%;
    background-color: #493628;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    transition: all 0.5s ease;
}

.stepBlock.visible {
    opacity: 1;
    transform: translateX(0rem);
}

@media (max-width: 768px) {
    .stepBlock {
        border-radius: 0px;
        width: 100%;
        height: 40rem;
        padding: 3rem 1.5rem;
    }
}

.stepBlock h1 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
}

.stepBlock p {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 300;
    color: #FBF8EF;
}

@media (max-width: 768px) {
    .stepBlock h1 {
        font-size: 1.5rem;
    }

    .stepBlock p {
        font-size: 0.5rem;
    }

    .stepBlock:nth-child(3) p {
        font-size: 0.8rem;
    }
}

.stepBlock button {
    background-color: #FBF8EF;
    border-radius: 20px;
    padding: 0.5rem 3rem;
    border: none;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #493628;
    width: 30%;
}

@media (max-width: 768px) {
    .stepBlock button {
        width: 100%;
    }
}

.stepBlock img {
    position: absolute;
    bottom: -3rem;
    right: -30rem;
    transform: scale(1.5);
    height: 30rem;
}

@media (max-width: 768px) {
    .stepBlock img {
        width: 100%;
        bottom: -3rem;
        right: -5rem;
    }
}

.stepBlock:nth-child(3) {
    margin-left: auto;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.stepBlock:nth-child(3) img {
    position: absolute;
    right: 40rem;
    bottom: -3rem;
    transform: scaleX(-1);
    height: 35rem;
}

.stepBlock:nth-child(3) img {
    position: absolute;
    bottom: -3rem;
}

@media (max-width: 768px) {
    .stepBlock:nth-child(2) {
        border-radius: 0px;
        margin-left: 0rem;
    }

    .stepBlock:nth-child(3) {
        border-radius: 0px;
        margin-left: 0rem;
        height: 50rem;
    }

    .stepBlock:nth-child(2) img {
        left: -5rem;
    }
}

.choiceCar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.choiceCar h2 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
    position: relative;
}

@media (max-width: 768px) {
    .choiceCar h2 {
        font-size: 1rem;
    }
}

.choiceCar select {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 300;
    color: #FBF8EF;
    background-color: #7E634F;
    padding: 1rem 2rem;
    border-radius: 20px;
    border: none;
    width: 50%;
}

@media (max-width: 768px) {
    .choiceCar select {
        width: 70%;
    }
}

.selectedModel {
    display: none;
}

.selectedYear {
    display: none;
}

.choiceCar img {
    position: absolute;
    left: 40rem;
    top: 1rem;
}

.messageInfo {
    background-color: rgba(251, 248, 239, 0.6);
    border-radius: 20px;
    padding: 1rem;
    width: 30%;
    position: absolute;
    left: 43rem;
    display: none;
}

@media (max-width: 768px) {
    .choiceCar img {
        left: 20rem;
        width: 5%;
    }

    .messageInfo {
        top: -5rem;
        left: 10rem;
        width: 50%;
    }
}

.messageInfo p {
    color: #2C2C2C;
}

.choiceCar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 0rem;
    width: 70%;
}

@media (max-width: 768px) {
    .choiceCar ul {
        width: 100%;
    }
}

.choiceCar li {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.choiceCar li label {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 300;
    color: #FBF8EF;
    opacity: 0.8;
    margin-left: 0.8rem;
}

.choiceCar li input {
    background-color: #7E634F;
    border-radius: 20px;
    width: 50%;
    border: none;
    color: #FBF8EF;
    padding: 0.8rem 1rem;
}

@media (max-width: 768px) {
    .choiceCar li input {
        width: 70%;
    }
}

.price {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.price h2 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
}

.price p {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 300;
    color: #FBF8EF;
}

@media (max-width: 768px) {
    .price h2 {
        font-size: 1.3rem;
    }

    .price p {
        font-size: 0.5rem;
    }
}

.successScreen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
    display: none;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.successScreen p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
}

.successScreen button {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: var(--font-weight-regular);
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 5px solid rgb(73, 54, 40);
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* text */

.generalInfo {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-right: 5rem;
}

@media (max-width: 768px) {
    .generalInfo {
        flex-direction: column;
        padding-right: 0rem;
        gap: 1rem;
    }
}

.generalInfo img {
    width: 60%;
    transition: all 0.3s ease;
}

.generalInfo img.visible {
    transform: translateY(0rem);
    opacity: 1;
}

@media (max-width: 768px) {
    .generalInfo img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
    }
}

.generalInfo .text {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
    transition: all 0.3s ease;
}

.generalInfo .text.visible {
    transform: translateY(0rem);
    opacity: 1;
}

@media (max-width: 768px) {
    .generalInfo .text {
        font-size: 1.5rem;
        color: #FBF8EF;
        padding: 0rem 1.5rem;
        gap: 2rem;
    }

    .generalInfo .text.visible {
        transform: translateY(-5rem);
    }
}

.generalInfo .text p {
    font-size: 0.8rem;
    font-weight: var(--font-weight-regular);
}

@media (max-width: 768px) {
    .generalInfo .text p {
        font-size: 0.5rem;
        color: #4F4F4F;
    }
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    footer {
        padding: 2rem 2.5rem;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
    transition: all 0.8s ease;
}

footer img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

@media (max-width: 768px) {
    footer img {
        transform: translateX(0rem);
    }
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .menuButtons {
        gap: 1.5rem;
    }

    .menuButtons:nth-child(1),
    .menuButtons:nth-child(3) {
        align-items: center;
    }
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

@media (max-width: 768px) {
    .footerButton {
        font-size: 0.8rem;
    }
}