@import url("headerStyles.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}


body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #FBF8EF;
}

@media (max-width: 768px) {
    body {
        gap: 6rem;
    }

    .no-scroll {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1009;
    }
}

/* header - nav */

.nav-list > li:nth-of-type(3) > .navButton {
    font-weight: var(--font-weight-bold);
}

/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-bottom: 10rem;
}

@media (max-width: 768px) {
    main {
        gap: 8rem;
    }
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: center;
}

article img {
    max-width: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    article img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
}

.textHeader {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.textHeader h1,
.textHeader h2 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 300;
    color: #000000;
}

.textHeader h2 {
    font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
    .textHeader {
        gap: 2rem;
        text-align: center;
        padding: 0rem 3rem;
    }

    .textHeader h1 {
        font-size: 1rem;
    }

    .textHeader h2 {
        font-size: 1.5rem;
    }
}

.kmServices {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    padding: 3rem 16rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    .kmServices {
        padding: 3rem 1.5rem;
    }
}

.serviceBlock {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 60rem;
    position: relative;
}

.serviceBlock h3 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: #7E634F;
    position: absolute;
    top: -3rem;
    right: 9rem;
    transition: all 0.3s ease;
}

.serviceBlock h3.visible {
    opacity: 1;
    transform: translateY(0rem);
}

@media (max-width: 768px) {
    .serviceBlock h3 {
        font-size: 1.5rem;
        right: 1rem;
        top: -2rem;
    }
}

.serviceBlock img {
    position: absolute;
    bottom: -3rem;
    right: -35rem;
    max-width: 100%;
    transition: all 0.5s ease;
}

.serviceBlock img.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.serviceBlock:nth-child(2n) img {
    left: -10rem;
}

@media (max-width: 768px) {
    .serviceBlock img {
        right: -7rem;
        bottom: -2rem;
        transform: translateY(4rem);
    }

    .serviceBlock:nth-child(2n) img {
        left: -7rem;
    }
}

.serviceText {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #493628;
    border-radius: 20px;
    padding: 3.5rem 4.5rem;
    max-width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.serviceText.visible {
    transform: translateY(0rem);
    opacity: 1;
}

@media (max-width: 768px) {
    .serviceText {
        padding: 3rem 2rem 7rem 2rem;
    }
}

.kmServices .serviceBlock:nth-child(2n) .serviceText {
    background-color: #7E634F;
    margin-left: auto;
}

.serviceText h4 {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 300;
    color: #FBF8EF;
}

.serviceText ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    max-width: 25rem;
}

@media (max-width: 768px) {
    .serviceText ul {
        font-size: 0.8rem;
        gap: 2rem;
    }
}


/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    footer {
        padding: 2rem 2.5rem;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
    transition: all 0.8s ease;
}

@media (max-width: 768px) {
    footer img {
        transform: translateX(0rem);
    }
}

footer img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .menuButtons {
        gap: 1.5rem;
    }

    .menuButtons:nth-child(1),
    .menuButtons:nth-child(3) {
        align-items: center;
    }
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

@media (max-width: 768px) {
    .footerButton {
        font-size: 0.8rem;
    }
}