@import url("headerStyles.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    background-color: #FBF8EF;
}

@media (max-width: 768px) {
    .no-scroll {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1009;
    }
}

/* header - nav */



/* main */

main {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-bottom: 10rem;
}

@media (max-width: 768px) {
    main {
        gap: 8rem;
    }
}

/* article */

:root {
    --font-family: "Unbounded";
    --font-weight-bold: 800;
    --font-weight-regular: 400;
    --font-color: #292929;
}

article {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: #493628;
}

@media (max-width: 768px) {
    article {
        padding: 1.5rem 1rem;
    }
}

article img {
    width: 90%;  
    height: auto; 
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    article img {
        transform: scale(1);
    }
}

.modelCar {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modelCar h2 {
    font-size: 1.25rem;
    font-weight: var(--font-weight-regular);
}

.modelCar span {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .modelCar {
        font-size: 1.25rem;
        gap: 0.25rem;
    }

    .modelCar h2 {
        font-size: 1rem;
    }

    .modelCar span {
        font-size: 0.7rem;
    }
}

/* info */

.imgInfo {
    display: flex;
    align-items: center;
    gap: 10rem;
}

/* detailInfo */

.detailInfo {
    background-color: #FBF8EF;
    border-radius: 20px;
    padding: 3rem 5rem;
    text-align: center;
}

@media (max-width: 768px) {
    .detailInfo {
        margin-top: 0rem;
        padding: 1.5rem 2rem;
    }
}

.detailInfo ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 1rem;
    align-items: center;
    list-style: none;
}

@media (max-width: 768px) {
    .detailInfo ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

.detailInfo li {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #493628;
    width: 12rem;
}

.detailInfo li span {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
    .detailInfo li {
        font-size: 0.8rem;
        width: 8rem;
    }

    .detailInfo li:nth-child(1),
    .detailInfo li:nth-child(2) {
        margin-bottom: 1.5rem;
    }

    .detailInfo li span {
        font-size: 1rem;
    }
}

/* buttons */

.buttons {
    padding: 0rem 9.5rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

@media (max-width: 768px) {
    .buttons {
        padding: 0rem 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.buttons a {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    background-color: #493628;
    border: 5px solid #FBF8EF;
    border-radius: 20px;
    width: 15rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons a:hover {
    background-color: #FBF8EF;
    color: #493628;
}

@media (max-width: 768px) {
    .buttons a {
        padding: 1.2rem 1rem;
        width: 8rem;
    }

    .buttons a:nth-child(1),
    .buttons a:nth-child(2) {
        margin-bottom: 1.5rem;
    }
}

.buttons a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
    transition: all 0.3s ease;
}

.buttons li:hover a {
    color: #493628;
}

@media (max-width: 768px) {
    .buttons a {
        font-size: 0.7rem;
    }
}

/* generalInfo */

.generalInfo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media (max-width: 768px) {
    .generalInfo {
        flex-direction: column;
    }
}

.generalInfo img {
    max-width: 70%;
    transition: all 0.3s ease;
}

.generalInfo img.visible {
    opacity: 1;
    transform: translateY(0rem);
}

@media (max-width: 768px) {
    .generalInfo img {
        max-width: 100%;
        object-fit: cover;
        height: 20rem;
    }
}

.generalInfo .text h2, 
.text p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
}

.text p {
    width: 80%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .text {
        padding: 0rem 1rem;
        gap: 0rem;
    }
}

.text.visible {
    opacity: 1;
    transform: translateY(0rem);
}

.text p {
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
}

@media (max-width: 768px) {
    .text h2 {
        font-size: 1rem;
        transform: translateY(-6rem);
        color: #FBF8EF;
    }

    .text p {
        font-size: 0.7rem;
        transform: translateY(-4rem);
        width: 100%;
    }

    .generalInfo:nth-of-type(5) .text p {
        transform: translateY(-2rem);
    }

    .generalInfo:nth-of-type(5) .text h2 {
        transform: translateY(-4rem);
    }
}

/* testDrive */

.testDrive {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 0rem 7rem;
}

@media (max-width: 768px) {
    .testDrive {
        padding: 0rem 1rem;
    }
}

.testDrive h2, 
.testDrive h3 {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 200;
}

.testDrive h3 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
}

.headerTestDrive {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

@media (max-width: 768px) {
    .headerTestDrive {
        gap: 1rem;
    }

    .testDrive h2 {
        font-size: 1rem;
    }

    .testDrive h3 {
        font-size: 1.5rem;
    }
}

/* infoTestDrive */

.infoTestDrive {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .infoTestDrive {
        flex-direction: column;
        gap: 7rem;
    }
}

.infoTestDrive .conditions {
    width: 464px;
}

@media (max-width: 768px) {
    .infoTestDrive .conditions {
        width: 100%;
    }
}

.infoTestDrive .conditions p {
    padding: 1rem;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
}

.conditions p:nth-of-type(2) {
    background-color: #493628;
    color: #FBF8EF;
    border-radius: 20px;
    font-weight: 300;
}

.conditions span {
    font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
    .conditions {
        padding: 1.5rem 1rem;
    }
}

/* choice */

.choice {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media (max-width: 768px) {
    .choice {
        padding: 0rem 2rem;
        overflow: hidden;
    }
}

.generalList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media (max-width: 768px) {
    .generalList {
        gap: 5rem;
    }
}

.choice li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
}

.inputInfoContainer {
    display: flex;
    gap: 1rem;
}

.choice input {
    padding: 0.25rem 1rem;
    background-color: #FBF8EF;
    border-radius: 20px;
    border: 3px solid #493628;
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 200;
    color: #493628;
    width: 40%;
}

.choice button {
    display: flex;
    justify-content: center;
    background-color: #493628;
    padding: 1rem 5rem;
    border-radius: 20px;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    width: 40%;
}

@media (max-width: 768px) {
    .choice input {
        width: 100%;
    }

    .choice button {
        padding: 1rem 3rem;
        width: 100%;
    }
}

.submitButton {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.content p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
}

.content button {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: var(--font-weight-regular);
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 5px solid rgb(73, 54, 40);
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.carChoice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width: 768px) {
    .carChoice {
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem;
    }
}

.carChoice li {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: var(--font-weight-bold);
    color: #4F4F4F;
    padding: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carChoice li:hover {
    background-color: #493628;
    border-radius: 20px;
    color: #FBF8EF;
}

.carChoice li.active {
    background-color: #493628;
    border-radius: 20px;
    color: #FBF8EF;
}

/* techInfo */

.techInfo {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    position: relative;
}

.techInfo h3 {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

@media (max-width: 768px) {
    .techInfo h3 {
        font-size: 1.5rem;
    }
}

.techChoice {
    display: flex;
    align-items: center;
    gap: 5rem;
}

@media (max-width: 768px) {
    .techChoice {
        flex-direction: column;
        gap: 0rem;
    }
}

.techInfo .techChoice img {
    transition: all 0.5s ease;
}

.techInfo .techChoice img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

.techChoice ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    margin-left: 1rem;
    transition: all 0.5s ease;
}

.techChoice ul.visible {
    opacity: 1;
    transform: translateX(0rem);
}

@media (max-width: 768px) {
    .techChoice ul {
        transform: translateX(-15rem);
    }
}

.techChoice ul details {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
}

.techChoice ul summary {
    font-size: 1.5rem;
}

/* sales */

.sales {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0rem 7rem;
}

@media (max-width: 768px) {
    .sales {
        padding: 0rem 1rem;
        overflow: hidden;
    }
}

.sales h3 {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
}

.sales p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #FBF8EF;
    width: 100%;
}

@media (max-width: 768px) {
    .sales h3 {
        font-size: 1.5rem;
    }

    .sales p {
        font-size: 0.8rem;
    }
}

.optionSales {
    background-color: #493628;
    border-radius: 20px;
    padding: 3rem;
    position: relative;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.optionSales:hover {
    padding: 3.25rem;
}

@media (max-width: 768px) {
    .optionSales {
        padding: 2rem;
    }
}

.optionSales img:first-of-type {
    position: absolute;
    top: -3rem;
    left: -3rem;
    filter: blur(2px);
    transition: all 0.3s ease;
}

.optionSales img:last-of-type {
    position: absolute;
    bottom: -3rem;
    right: -3rem;
    filter: blur(2px);
    transition: all 0.3s ease;
}

.optionSales:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .optionSales img:first-of-type {
        width: 20%;
        height: auto;
    }

    .optionSales img:last-of-type {
        width: 30%;
        height: auto;
    }
}

.price {
    background-color: #7E634F;
    border-radius: 20px;
    padding: 3rem;
    overflow: hidden;
    position: relative;
}

@media (max-width: 768px) {
    .price {
        padding: 2rem 1rem;
    }
}

.price img {
    position: absolute;
    top: -5rem;
    left: -20rem;
    transform: scale(0.7);
    width: 80%;
    height: auto;
}

@media (max-width: 768px) {
    .price img {
        left: -8rem;
        top: 2rem;
        width: 100%;
    }
}

.price p {
    text-align: right;
    font-weight: 300;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .price p {
        font-size: 0.7rem;
    }
}

/* configurator */

.configurator {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 0rem 7rem;
}

@media (max-width: 768px) {
    .configurator {
        padding: 0rem 1rem;
    }
}

.headerSection h2,
.headerSection h3 {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 200;
}

.headerSection h3 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
    .headerSection h2 {
        font-size: 1rem;
    }

    .headerSection h3 {
        font-size: 1.5rem;
    }
}

.menuConfigurator {
    display: flex;
    align-items: center;
    gap: 10rem;
    position: relative;
}

@media (max-width: 768px) {
    .menuConfigurator {
        flex-direction: column;
    }
}

.preView {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 5rem;
    background-color: #493628;
    height: 80%;
    border-radius: 20px;
    padding: 10rem 5rem;
}

.preView p {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
}

@media (max-width: 768px) {
    .preView {
        padding: 3rem 1.5rem;
        gap: 3rem;
    }

    .preView p {
        font-size: 1rem;
    }
}

.preView img {
    width: 80%; 
    height: auto;
}

@media (max-width: 768px) {
    .preView img {
        width: 100%;
    }
}

.configuratorChoice {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 25rem;
    width: 100%;
}

@media (max-width: 768px) {
    .configuratorChoice {
        padding: 0rem 2rem;
    }
}

.configuratorChoice details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-regular);
}

.configuratorChoice details ul {
    list-style: none;
}

.configuratorChoice fieldset {
    border: none;
}

.configuratorChoice legend {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.configuratorChoice a {
    text-decoration: none;
    color: #FBF8EF;
}

.color {
    display: flex;
    gap: 1rem;
}

.color button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid;
    transition: all 0.3s ease;
}

.color button:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .color button {
        width: 40px;
        height: 40px;
    }
}

.color button[data-color="white"] {
    background-color: #FFFFFF;
}

.color button[data-color="black"] {
    background-color: #000000;
}

.color button[data-color="green"] {
    background-color: #135300;
}

.color button[data-color="brown"] {
    background-color: #7E634F;
}

.color button[data-color="red"] {
    background-color: #930000;
}

.color button[data-color="pink"] {
    background-color: #990033;
}

.color button[data-color="purple"] {
    background-color: #94849C;
}

.color button[data-color="blue"] {
    background-color: #345E88;
}

.color button[data-color="dark-blue"] {
    background-color: #01194B;
}

.color button[data-color="gray"] {
    background-color: #9F9F9F;
}

.configuratorChoice .continueButton {
    background-color: #7E634F;
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;
    border: none;
    width: 80%;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .configuratorChoice .continueButton {
        width: 100%;
    }
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 7.5rem 7.5rem;
    overflow: hidden;
}
@media (max-width: 768px) {
    footer {
        padding: 2rem 2.5rem;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
}

footer img {
    width: 100%; 
    height: auto; 
    max-width: 50%; 
    display: block;
    transition: all 0.8s ease;
}

@media (max-width: 768px) {
    footer img {
        transform: translateX(0rem);
    }
}

footer img.visible {
    opacity: 1;
    transform: translateX(0rem);
}

.menuButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .menuButtons {
        gap: 1.5rem;
    }

    .menuButtons:nth-child(1),
    .menuButtons:nth-child(3) {
        align-items: center;
    }
}

.footerButton {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: #FBF8EF;
    transition: all 0.3s ease-in-out;
}

.menuButtons:nth-of-type(1) .footerButton:hover {
    transform: scale(1.05);
    color: #FFF3D0;
}

@media (max-width: 768px) {
    .footerButton {
        font-size: 0.8rem;
    }
}
